$colors-functional-colors-error-1: #fff1f0;
$colors-functional-colors-error-10: #5c0011;
$colors-functional-colors-error-2: #ffccc7;
$colors-functional-colors-error-3: #ffa39e;
$colors-functional-colors-error-4: #ff7875;
$colors-functional-colors-error-5-: #ff4d4f;
$colors-functional-colors-error-6: #f5222d;
$colors-functional-colors-error-7: #cf1322;
$colors-functional-colors-error-8: #a8071a;
$colors-functional-colors-error-9: #820014;
$colors-functional-colors-link-1: #e6f4ff;
$colors-functional-colors-link-10: #001d66;
$colors-functional-colors-link-2: #bae0ff;
$colors-functional-colors-link-3: #91caff;
$colors-functional-colors-link-4: #69b1ff;
$colors-functional-colors-link-5: #4096ff;
$colors-functional-colors-link-6-: #1677ff;
$colors-functional-colors-link-7: #0958d9;
$colors-functional-colors-link-8: #003eb3;
$colors-functional-colors-link-9: #002c8c;
$colors-functional-colors-success-1: #edfff9;
$colors-functional-colors-success-10: #002b1d;
$colors-functional-colors-success-2: #bef7e4;
$colors-functional-colors-success-3: #8febcc;
$colors-functional-colors-success-4: #64deb5;
$colors-functional-colors-success-5: #3dd1a0;
$colors-functional-colors-success-6-: #1ac48b;
$colors-functional-colors-success-7: #0d9e6e;
$colors-functional-colors-success-8: #047851;
$colors-functional-colors-success-9: #005237;
$colors-functional-colors-warning-1: #fffbe6;
$colors-functional-colors-warning-10: #613400;
$colors-functional-colors-warning-2: #fff1b8;
$colors-functional-colors-warning-3: #ffe58f;
$colors-functional-colors-warning-4: #ffd666;
$colors-functional-colors-warning-5: #ffc53d;
$colors-functional-colors-warning-6-: #faad14;
$colors-functional-colors-warning-7: #d48806;
$colors-functional-colors-warning-8: #ad6800;
$colors-functional-colors-warning-9: #874d00;
$colors-nutrals-mixed-dark-black: #000000;
$colors-nutrals-mixed-dark-n500: #42526e;
$colors-nutrals-mixed-dark-n600: #344563;
$colors-nutrals-mixed-dark-n700: #253858;
$colors-nutrals-mixed-dark-n800: #172b4d;
$colors-nutrals-mixed-dark-n900: #091e42;

$colors-nutrals-mixed-light-white: #ffffff;
$colors-nutrals-mixed-mid-n100: #7a869a;
$colors-nutrals-mixed-mid-n200: #6b778c;
$colors-nutrals-mixed-mid-n300: #5e6c84;
$colors-nutrals-mixed-mid-n400: #505f79;
$colors-nutrals-mixed-mid-n60: #b3bac5;
$colors-nutrals-mixed-mid-n70: #a5adba;
$colors-nutrals-mixed-mid-n80: #97a0af;
$colors-nutrals-mixed-mid-n90: #8993a4;
$colors-nutrals-pure-100: #f0f0ec;
$colors-nutrals-pure-200: #e0e0e2;
$colors-nutrals-pure-300: #c0c2c5;
$colors-nutrals-pure-400: #a1a3a8;
$colors-nutrals-pure-500: #81858b;
$colors-nutrals-pure-600: #62666d;
$colors-nutrals-pure-650: #424242;
$colors-nutrals-pure-700: #3f4064;
$colors-nutrals-pure-800: #23254e;
$colors-nutrals-pure-900: #0c0c0c;
$colors-others-calendula-gold-1: #fffbe6;
$colors-others-calendula-gold-10: #613400;
$colors-others-calendula-gold-2: #fff1b8;
$colors-others-calendula-gold-3: #ffe58f;
$colors-others-calendula-gold-4: #ffd666;
$colors-others-calendula-gold-5: #ffc53d;
$colors-others-calendula-gold-6: #faad14;
$colors-others-calendula-gold-7: #d48806;
$colors-others-calendula-gold-8: #ad6800;
$colors-others-calendula-gold-9: #874d00;
$colors-others-cyan-1: #e6fffb;
$colors-others-cyan-10: #002329;
$colors-others-cyan-2: #b5f5ec;
$colors-others-cyan-3: #87e8de;
$colors-others-cyan-4: #5cdbd3;
$colors-others-cyan-5: #36cfc9;
$colors-others-cyan-6: #13c2c2;
$colors-others-cyan-7: #08979c;
$colors-others-cyan-8: #006d75;
$colors-others-cyan-9: #00474f;
$colors-others-day-break-blue-1: #e6f7ff;
$colors-others-day-break-blue-10: #002766;
$colors-others-day-break-blue-2: #bae7ff;
$colors-others-day-break-blue-3: #91d5ff;
$colors-others-day-break-blue-4: #69c0ff;
$colors-others-day-break-blue-5: #40a9ff;
$colors-others-day-break-blue-6: #1890ff;
$colors-others-day-break-blue-7: #096dd9;
$colors-others-day-break-blue-8: #0050b3;
$colors-others-day-break-blue-9: #003a8c;
$colors-others-dust-red-1: #fff1f0;
$colors-others-dust-red-10: #5c0011;
$colors-others-dust-red-2: #ffccc7;
$colors-others-dust-red-3: #ffa39e;
$colors-others-dust-red-4: #ff7875;
$colors-others-dust-red-5: #ff4d4f;
$colors-others-dust-red-6: #f5222d;
$colors-others-dust-red-7: #cf1322;
$colors-others-dust-red-8: #a8071a;
$colors-others-dust-red-9: #820014;
$colors-others-geek-blue-1: #f0f5ff;
$colors-others-geek-blue-10: #030852;
$colors-others-geek-blue-2: #d6e4ff;
$colors-others-geek-blue-3: #adc6ff;
$colors-others-geek-blue-4: #85a5ff;
$colors-others-geek-blue-5: #597ef7;
$colors-others-geek-blue-6: #2f54eb;
$colors-others-geek-blue-7: #1d39c4;
$colors-others-geek-blue-8: #10239e;
$colors-others-geek-blue-9: #061178;
$colors-others-geek-blue-1: #f0f5ff;
$colors-others-geek-blue-10: #030852;
$colors-others-geek-blue-2: #d6e4ff;
$colors-others-geek-blue-3: #adc6ff;
$colors-others-geek-blue-4: #85a5ff;
$colors-others-geek-blue-5: #597ef7;
$colors-others-geek-blue-7: #1d39c4;
$colors-others-geek-blue-8: #10239e;
$colors-others-geek-blue-9: #061178;
$colors-others-golden-purple-1: #f9f0ff;
$colors-others-golden-purple-10: #120338;
$colors-others-golden-purple-2: #efdbff;
$colors-others-golden-purple-3: #d3adf7;
$colors-others-golden-purple-4: #b37feb;
$colors-others-golden-purple-5: #9254de;
$colors-others-golden-purple-6: #722ed1;
$colors-others-golden-purple-7: #531dab;
$colors-others-golden-purple-8: #391085;
$colors-others-golden-purple-9: #22075e;
$colors-others-lime-1: #fcffe6;
$colors-others-lime-10: #254000;
$colors-others-lime-2: #f4ffb8;
$colors-others-lime-3: #eaff8f;
$colors-others-lime-4: #d3f261;
$colors-others-lime-5: #bae637;
$colors-others-lime-6: #a0d911;
$colors-others-lime-7: #7cb305;
$colors-others-lime-8: #5b8c00;
$colors-others-lime-9: #3f6600;
$colors-others-magenta-1: #fff0f6;
$colors-others-magenta-10: #520339;
$colors-others-magenta-2: #ffd6e7;
$colors-others-magenta-3: #ffadd2;
$colors-others-magenta-4: #ff85c0;
$colors-others-magenta-5: #f759ab;
$colors-others-magenta-6: #eb2f96;
$colors-others-magenta-7: #c41d7f;
$colors-others-magenta-8: #9e1068;
$colors-others-magenta-9: #780650;
$colors-others-polar-green-1: #f6ffed;
$colors-others-polar-green-10: #092b00;
$colors-others-polar-green-2: #d9f7be;
$colors-others-polar-green-3: #b7eb8f;
$colors-others-polar-green-4: #95de64;
$colors-others-polar-green-5: #73d13d;
$colors-others-polar-green-6: #52c41a;
$colors-others-polar-green-7: #389e0d;
$colors-others-polar-green-8: #237804;
$colors-others-polar-green-9: #135200;
$colors-others-sunrise-yellow-1: #feffe6;
$colors-others-sunrise-yellow-10: #614700;
$colors-others-sunrise-yellow-2: #ffffb8;
$colors-others-sunrise-yellow-3: #fffb8f;
$colors-others-sunrise-yellow-4: #fff566;
$colors-others-sunrise-yellow-5: #ffec3d;
$colors-others-sunrise-yellow-6: #fadb14;
$colors-others-sunrise-yellow-7: #d4b106;
$colors-others-sunrise-yellow-8: #ad8b00;
$colors-others-sunrise-yellow-9: #876800;
$colors-others-sunset-orange-1: #fff7e6;
$colors-others-sunset-orange-10: #612500;
$colors-others-sunset-orange-2: #ffe7ba;
$colors-others-sunset-orange-3: #ffd591;
$colors-others-sunset-orange-4: #ffc069;
$colors-others-sunset-orange-5: #ffa940;
$colors-others-sunset-orange-6: #fa8c16;
$colors-others-sunset-orange-7: #d46b08;
$colors-others-sunset-orange-8: #ad4e00;
$colors-others-sunset-orange-9: #873800;
$colors-others-volcano-1: #fff2e8;
$colors-others-volcano-10: #610b00;
$colors-others-volcano-2: #ffd8bf;
$colors-others-volcano-3: #ffbb96;
$colors-others-volcano-4: #ff9c6e;
$colors-others-volcano-5: #ff7a45;
$colors-others-volcano-6: #fa541c;
$colors-others-volcano-7: #d4380d;
$colors-others-volcano-8: #ad2102;
$colors-others-volcano-9: #871400;
$colors-primary-colors-1: #fff2f0;
$colors-primary-colors-10: #570913;
$colors-primary-colors-2: #ffe9e6;
$colors-primary-colors-3: #ffc3bd;
$colors-primary-colors-4: #ff9b94;
$colors-primary-colors-5: #fc6f6a;
$colors-primary-colors-6-: #ef3f40;
$colors-primary-colors-7: #c92a30;
$colors-primary-colors-8: #a31a23;
$colors-primary-colors-9: #7d0e19;
$colors-secondary-colors-1: #fffcf0;
$colors-secondary-colors-10: #57330b;
$colors-secondary-colors-2: #fffbed;
$colors-secondary-colors-3: #fff1c4;
$colors-secondary-colors-4: #ffe49c;
$colors-secondary-colors-5: #fcd372;
$colors-secondary-colors-6-: #f0b646;
$colors-secondary-colors-7: #c99130;
$colors-secondary-colors-8: #a36e1f;
$colors-secondary-colors-9: #7d4e11;
$colors-transparents-dark-transparent-10: #0000001a;
$colors-transparents-dark-transparent-15: #00000026;
$colors-transparents-dark-transparent-20: #00000033;
$colors-transparents-dark-transparent-25: #00000040;
$colors-transparents-dark-transparent-30: #0000004d;
$colors-transparents-dark-transparent-35: #00000059;
$colors-transparents-dark-transparent-40: #00000073;
$colors-transparents-dark-transparent-45: #00000073;
$colors-transparents-dark-transparent-5: #0000000d;
$colors-transparents-dark-transparent-50: #00000080;
$colors-transparents-dark-transparent-55: #0000008c;
$colors-transparents-dark-transparent-60: #00000099;
$colors-transparents-dark-transparent-65: #000000a6;
$colors-transparents-dark-transparent-70: #000000b2;
$colors-transparents-dark-transparent-75: #000000bf;
$colors-transparents-dark-transparent-80: #000000cc;
$colors-transparents-dark-transparent-85: #000000d9;
$colors-transparents-dark-transparent-90: #000000e5;
$colors-transparents-dark-transparent-95: #000000f2;
$colors-transparents-light-transparent-10: #ffffff1a;
$colors-transparents-light-transparent-15: #ffffff26;
$colors-transparents-light-transparent-20: #ffffff33;
$colors-transparents-light-transparent-25: #ffffff40;
$colors-transparents-light-transparent-30: #ffffff4d;
$colors-transparents-light-transparent-35: #ffffff59;
$colors-transparents-light-transparent-40: #ffffff73;
$colors-transparents-light-transparent-45: #ffffff73;
$colors-transparents-light-transparent-5: #ffffff0d;
$colors-transparents-light-transparent-50: #ffffff80;
$colors-transparents-light-transparent-55: #ffffff8c;
$colors-transparents-light-transparent-60: #ffffff99;
$colors-transparents-light-transparent-65: #ffffffa6;
$colors-transparents-light-transparent-70: #ffffffb2;
$colors-transparents-light-transparent-75: #ffffffbf;
$colors-transparents-light-transparent-80: #ffffffcc;
$colors-transparents-light-transparent-85: #ffffffd9;
$colors-transparents-light-transparent-90: #ffffffe5;